## example folders
hello-pt/
hello-tf2/
hello-pt-tb/
tf1_ner/

## workspace folder to store results and simulations
*workspace*/

## log files and saved files
*.pt
medical_ner/*.txt
nvflare-env/
# *.png
# *.jpg
# *.jpeg
